pipeline/PIP_DynamicQuery.json
{
	"name": "PIP_DynamicQuery",
	"properties": {
		"activities": [
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "HighWaterMark",
					"value": {
						"value": "SELECT * FROM source.CustomerRegistrations WHERE registration_date > '@{adddays(utcnow(), -180)}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DebugRowsReturned",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('HighWaterMark')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Db_Static",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('HighWaterMark')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Db_Static",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Db_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "NewCustomerRegistrations"
						}
					}
				]
			}
		],
		"variables": {
			"HighWaterMark": {
				"type": "String"
			}
		},
		"folder": {
			"name": "bidesign"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-23T11:58:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}