pipeline/PIP_BlobToStagingToFinal.json
{
	"name": "PIP_BlobToStagingToFinal",
	"properties": {
		"activities": [
			{
				"name": "GetFilesToLoad",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TruncateStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilesToLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesToLoad').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetTableToLoad",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[staging].[usp_GetTableToLoad]",
									"storedProcedureParameters": {
										"SourceFileName": {
											"type": "String",
											"value": {
												"value": "@{item().name}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Db_Static",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LoadStaging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetTableToLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Blob",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Db_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@{activity('GetTableToLoad').output.firstRow.StagingSchemaName}",
											"type": "Expression"
										},
										"TableName": {
											"value": "@{activity('GetTableToLoad').output.firstRow.StagingTableName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "TruncateStaging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[staging].[usp_TruncateStaging]"
				},
				"linkedServiceName": {
					"referenceName": "lnk_sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "StagingToFinal",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_StagingToFinal",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "bidesign"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-23T08:54:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}