pipeline/PIP_DynamicQueryLogging.json
{
	"name": "PIP_DynamicQueryLogging",
	"properties": {
		"activities": [
			{
				"name": "SetVariable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "HighWaterMark",
					"value": {
						"value": "SELECT * FROM source.CustomerRegistrations WHERE registration_date > '@{adddays(utcnow(), -180)}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CreateEtlLogEntry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('HighWaterMark')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Db_Static",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Db_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "NewCustomerRegistrations"
						}
					}
				]
			},
			{
				"name": "CreateEtlLogEntry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logging].[usp_InsertEtlLog]",
						"storedProcedureParameters": {
							"ComponentName": {
								"type": "String",
								"value": {
									"value": "CopyData",
									"type": "Expression"
								}
							},
							"Deletes": {
								"type": "Int32",
								"value": null
							},
							"DurationSeconds": {
								"type": "Int32",
								"value": null
							},
							"EndTime": {
								"type": "DateTime",
								"value": null
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"Inserts": {
								"type": "Int32",
								"value": null
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"Updates": {
								"type": "Int32",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Db_Static",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "UpdateEtlLogEntrySuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[usp_UpdateEtlLog]",
					"storedProcedureParameters": {
						"Deletes": {
							"value": null,
							"type": "Int32"
						},
						"DurationSeconds": {
							"value": {
								"value": "@activity('CopyData').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"EtlLogId": {
							"value": {
								"value": "@activity('CreateEtlLogEntry').output.firstRow.EtlLogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Inserts": {
							"value": {
								"value": "@activity('CopyData').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Updates": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnk_sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateEtlLogEntryFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[usp_UpdateEtlLog]",
					"storedProcedureParameters": {
						"Deletes": {
							"value": null,
							"type": "Int32"
						},
						"DurationSeconds": {
							"value": {
								"value": "@activity('CopyData').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('CopyData').output.errors[0].Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"EtlLogId": {
							"value": {
								"value": "@activity('CreateEtlLogEntry').output.firstRow.EtlLogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Inserts": {
							"value": {
								"value": "@activity('CopyData').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Updates": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnk_sqldatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"HighWaterMark": {
				"type": "String"
			}
		},
		"folder": {
			"name": "bidesign"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-23T15:05:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}