pipeline/PL_DynamicMapping.json
{
	"name": "PL_DynamicMapping",
	"properties": {
		"activities": [
			{
				"name": "Get column mapping",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_getColumnMapping]",
						"storedProcedureParameters": {
							"schema_name": {
								"type": "String",
								"value": "dbo"
							},
							"table_name": {
								"type": "String",
								"value": "DimCustomer"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get column mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('Get column mapping').output.firstRow.json_output)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "DimCustomer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "tgt_DimCustomer"
						}
					}
				]
			}
		],
		"folder": {
			"name": "dynamic_mapping"
		},
		"annotations": []
	}
}